body{
    background-color: lightgoldenrodyellow;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
}

#div_body{
    margin-top: 10px;
}

#div_encabezado{
    background-color: burlywood;
    width: auto;
    height: 130px;
    text-align: center;
}

#el_david{
    width: 300px;
    height: 400px;
}

#creacion_adan{
    width: 600px;
    height: 400px;
}

#doni_tonda{
    width: 400px;
    height: 400px;
}

#virgen_brujas{
    width: 300px;
    height: 410px;
}

#juicio_final{
    width: 500px;
    height: 410px;
}

#pieta{
    width: 400px;
    height: 410px;
}


#imagen2{
    margin-left: 312px;
    margin-top: -404px;

}

#imagen3{
    margin-left: 932px;
    margin-top: -404px;
}

#imagen4{
    margin-left: 50px;
}

#imagen5{
    margin-left: 412px;
    margin-top: -414px;
}

#imagen6{
    margin-left: 942px;
    margin-top: -414px;
}

#link{
    text-align: center;
}

a{
    color:brown;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}