body{
    background-color: lightgoldenrodyellow;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
}

#div_body{
    margin-top: 10px;
}

#div_encabezado{
    background-color: burlywood;
    width: auto;
    height: 130px;
    text-align: center;
}

#houses{
    width: 500px;
    height: 400px;
}

#woman_parasol{
    width: 300px;
    height: 400px;
}

#la_bain{
    width: 500px;
    height: 400px;
}

#poplar_series{
    width: 400px;
    height: 400px;
}

#water_lilies{
    width: 280px;
    height: 400px;
}

#impression{
    width: 500px;
    height: 400px;
}


#imagen2{
    margin-left: 512px;
    margin-top: -404px;

}

#imagen3{
    margin-left: 832px;
    margin-top: -404px;
}

#imagen4{
    margin-left: 50px;
}

#imagen5{
    margin-left: 522px;
    margin-top: -404px;
}

#imagen6{
    margin-left: 832px;
    margin-top: -404px;
}

#link{
    text-align: center;
}

a{
    color:brown;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}